Source: libprolog
Section: libs
Priority: optional
Maintainer: Krisztian Litkey <krisztian.litkey@nokia.com>
Standards-Version: 3.8.0
Build-Depends: cdbs, debhelper (>= 4.1.0), swi-prolog-dev, ohm-dev, libglib2.0-dev, libdbus-1-dev, libdbus-glib-1-dev, libtrace-dev, libncurses5-dev

Package: libprolog0
Architecture: any
Section: libs
Provides: libprolog
Depends: ${shlibs:Depends}, swi-prolog
XB-GIT-ID: ${Git-Id}
Description: Prolog convenience library
 A prolog convenience library that supposedly makes embedding the
 SWI-prolog interpreter into applications easier.

Package: libprolog-dev
Architecture: any
Depends: libprolog0, swi-prolog-dev
Section: libdevel
XB-GIT-ID: ${Git-Id}
Description: Development files for the prolog convenience library.
 .
 This package contains header files, libraries, pkg-config files, etc.
 necessary for developing with the prolog convenience library.

Package: prolog-extensions
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, swi-prolog, ohm
XB-GIT-ID: ${Git-Id}
Description: Prolog extensions for the Nokia policy framework
 A set of prolog extensions needed by the policy framework (and/or its
 prototype implementation).

Package: ohm-plugin-prolog
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, swi-prolog, prolog-extensions, ohm
XB-GIT-ID: ${Git-Id}
Description: A prolog-based OHM rule engine plugin.
 A prolog-based OHM rule engine plugin.

Package: libprolog0-dbg
Priority: extra
Section: libdevel
Architecture: any
Depends: libprolog0 (= ${binary:Version})
XB-GIT-ID: ${Git-Id}
Description: Debug symbols for libprolog0.
 Debug symbols for libprolog0.

