#!/usr/bin/make -f
SHELL+= -e

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_TAR_SRCDIR = ${DEB_SOURCE_PACKAGE}-${DEB_UPSTREAM_VERSION}

DEB_CONFIGURE_USER_FLAGS = --disable-static
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Omit *.la files for prolog extensions.
binary-post-install/libprolog::
	rm -f debian/tmp/usr/share/prolog/extensions/*.la
common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd $(DEB_BUILDDIR) && ./autogen.sh
	touch $@

clean::
	-rm -rf debian/stamp-autogen

#binary-post-install/ohm::
#	rm -f debian/tmp/usr/lib/*.la
#common-binary-post-install-arch:: list-missing

# do not include docs and changelogs in these packages
#DEB_INSTALL_DOCS_libdres := --no-act
#DEB_INSTALL_CHANGELOGS_libdres := --no-act

