#!/usr/bin/make -f
SHELL+= -e

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

GIT_VERSION := $(strip $(shell [ -x ./git-version.sh ] && \
                                   ./git-version.sh || echo "unknown"))
DEB_DH_GENCONTROL_ARGS += -u-VGit-Id=$(GIT_VERSION)

DEB_TAR_SRCDIR = ${DEB_SOURCE_PACKAGE}-${DEB_UPSTREAM_VERSION}

# for dbg package
CFLAGS += -g -O2
DEB_DH_STRIP_ARGS += --dbg-package=libprolog0


DEB_CONFIGURE_USER_FLAGS = --disable-static
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

ifeq ($(strip $(shell echo $$ENABLE_GPROF)),yes)
DEB_CONFIGURE_USER_FLAGS += --enable-gprof
endif

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Omit *.la files for prolog extensions.
binary-post-install/%::
	rm -f debian/tmp/usr/share/prolog/extensions/*.la
common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd $(DEB_BUILDDIR) && ./autogen.sh
	touch $@

clean::
	-rm -rf debian/stamp-autogen

binary-post-install/%::
	rm -f debian/*/usr/lib/*.la
common-binary-post-install-arch:: list-missing

# do not include docs and changelogs in these packages
DEB_INSTALL_DOCS_libprolog0 := --no-act
DEB_INSTALL_CHANGELOGS_libprolog0 := --no-act
DEB_INSTALL_DOCS_libprolog-dev := --no-act
DEB_INSTALL_CHANGELOGS_libprolog-dev := --no-act
DEB_INSTALL_DOCS_prolog-extensions := --no-act
DEB_INSTALL_CHANGELOGS_prolog-extensions := --no-act
DEB_INSTALL_DOCS_ohm-plugin-prolog := --no-act
DEB_INSTALL_CHANGELOGS_ohm-plugin-prolog := --no-act

